h1{
    background-color: #03ff03; width: 25%;
    margin: 30px 50px;
    text-align: center;
font-weight: 900;
}
body{

    background-color: #00fff2;
}
    

h2{
    background-color: #03ff03; width: 20%;
    margin: 50px;
    font-weight: 200;
   
}